{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "shorthandLast": true,
        "noSortAlphabetically": true,
        "reservedFirst": ["key"]
      }
    ]
  }
}
