$navbar-height: 80px;
//colors
$primary-color: #7569ff;
$primary-color-light: #887ef8;
$white-text: #e8e8e8;
$dark-bg: #141414;
$light-bg: #fbf8fe;
$text-yellow: #ffd12c;
$text-red: #f94848;

//shadows & radius
$card-shadow-dark: 3px 3px 1px #fff;

$card-radius: 5px;

//font
$fs-body: 1.2rem;
$fs-title: 3rem;
$fs-title2: 2rem;
$fs-title3: 1.5rem;
$fs-btn: 1.15rem;
$regular: 400;
$semi-bold: 600;
$medium: 500;
$bold: 700;
