$navbar-height: 80px;
//colors
$primary-color: #7569ff;
$primary-color-light: #887ef8;
$primary-color-transparent: #9b90fcb9;
$white-text: #e8e8e8;
$white-text-transparent: #e8e8e890;
$dark-bg: #141414;
$light-bg: #fbf8fe;
$text-yellow: #ffd12c;
$text-red: #f94848;

//shadows & radius
$card-shadow-dark: 3px 3px 1px #fff;

$card-radius: 5px;

//font
$fs-body: 1.2rem;
$fs-title: 3rem;
$fs-title2: 2rem;
$fs-title3: 1.5rem;
$fs-btn: 1.15rem;
$fs-small: 0.9rem;
$regular: 400;
$semi-bold: 600;
$medium: 500;
$bold: 700;

@mixin underline-effect {
  &::after {  
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $primary-color-light;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}