.layout {
  padding: 5vh 5%;
}

.section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  // justify-content: center;
}

.layoutLeftRight {
  display: flex;
  align-items: center;
}