.about {
  display: flex;

  &-left {
    display: flex;
    flex: 0.6;
    flex-direction: column;
    gap: 3.5vh;
  }

  &-right {
    display: flex;
    flex: 0.4;
    align-items: center;
    justify-content: center;
  }

  &-text {
    width: 90%;
    &-highlight {
      // color: var(--primary-color-light);
      font-weight: var(--semi-bold);
    }
  }

  &-img {
    object-fit: contain;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 990px) {
  .about {
    &-left {
      flex: 0.7;
    }
    &-right {
      flex: 0.3;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    font-size: var(--fs-body);
    &-right {
      align-items: start;
    }
    &-text {
      width: 95%;
    }
  }
}
