@import "../../styles/scss-variables";
.blogpost {
  padding: 8px 12px;
  max-width: 25vw;
  height: auto;
  border-radius: $card-radius;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  transition: all ease 0.3s;

  &-title {
    font-size: $fs-title3;
    font-weight: $bold;
    transition: all ease 0.2s;
    &:hover {
      color: $primary-color-light;
    }
  }

  &-image {
    border-radius: $card-radius;
  }

  &-brief {
    // font-size: $fs-btn;
    line-height: 28px;
    text-align: justify;
  }

}

@media only screen and (max-width: 990px ){
  .blogpost {
    max-width: 40vw;
  }
}

@media only screen and (max-width: 768px ){
  .blogpost {
    max-width: 42vw;
    &-title {
      font-size: $fs-title3;
      font-weight: $semi-bold;
      line-height: 32px;
    }
    &-brief {
      display: none;
    }
  }
}

@media only screen and (max-width: 576px ){
  .blogpost {
    max-width: 80vw;

    &-title {
      font-size: $fs-body;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 450px ){
  .blogpost {
    max-width: 90vw;
  }
}


