@mixin underline-effect {
  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--primary-color-light);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.blogpost {
  padding: 8px 12px;
  max-width: 25vw;
  height: auto;
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  gap: 3vh;
  transition: all ease 0.3s;
  position: relative;
  padding-bottom: 2vh;
  @include underline-effect();
  &:hover {
    .blogpost-title {
      color: var(--primary-color-light);
    }
  }

  &-title {
    font-size: var(--fs-title3);
    font-weight: var(--bold);
    transition: all ease 0.2s;
  }

  &-image {
    border-radius: var(--card-radius);
  }

  &-brief {
    line-height: 28px;
    text-align: justify;
  }
}

@media only screen and (max-width: 990px) {
  .blogpost {
    max-width: 40vw;
  }
}

@media only screen and (max-width: 768px) {
  .blogpost {
    max-width: 42vw;
    &-title {
      font-size: var(--fs-title3);
      font-weight: var(--semi-bold);
      line-height: 32px;
    }
    &-brief {
      display: none;
    }
  }
}

@media only screen and (max-width: 576px) {
  .blogpost {
    max-width: 80vw;

    &-title {
      font-size: var(--fs-body);
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .blogpost {
    max-width: 90vw;
  }
}
