@import "../../styles/scss-variables";
.sidebar {
  position: fixed;
  height: 100%;
  z-index: 10;
  width: 45vw;
  top: $navbar-height;
  right: -100%;
  background-color: #14141465;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.3s ease-out;
  background: -moz-linear-gradient(90deg, #141414d5 0%, #141414 100%);

  &-active {
    right: 0;
    transition: 0.4s ease-in;
  }

  &-item {
    padding: 2% 5%;
    border-radius: 5px;
    font-size: $fs-body;
    font-weight: $semi-bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transition: 0.2s;
      background-color: #ffffff10;
    }

    &-list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5vh;
      padding: 5% 4%;
      height: 80%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .sidebar {
    width: 55vw;
  }
}

@media only screen and (max-width: 425px) {
  .sidebar {
    width: 75vw;
  }
}

@media only screen and (max-width: 350px) {
  .sidebar {
    width: 85vw;
  }
}