@import "../../styles/scss-variables";
.footer {
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: $fs-body;
  font-weight: $medium;

  &-text {
    background: -moz-linear-gradient(
      90deg,
      rgba(255, 209, 44, 1) 0%,
      rgba(255, 91, 91, 1) 35%,
      rgba(232, 62, 136, 1) 70%,
      rgba(247, 53, 228, 1) 97%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(255, 209, 44, 1) 0%,
      rgba(255, 91, 91, 1) 35%,
      rgba(232, 62, 136, 1) 70%,
      rgba(247, 53, 228, 1) 97%
    );
    background: linear-gradient(
      90deg,
      rgba(255, 209, 44, 1) 0%,
      rgba(255, 91, 91, 1) 35%,
      rgba(232, 62, 136, 1) 70%,
      rgba(247, 53, 228, 1) 97%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s ease infinite;
    text-align: center;
    position: relative;
  }
  &-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(153, 152, 152, 0.767);
    font-size: $fs-small;
    font-weight: 200;
    transition: 0.7s all ease;

    &:hover {
      text-decoration: underline;
      color: $primary-color-transparent;
    }
  }

  @media only screen and (max-width: 475px) {
    font-size: $fs-btn;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
