@import "../../styles/scss-variables";
.skills {
  &-title {
    margin-bottom: 2vh;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6vh 5vw;
    margin-top: 4vh;
    width: 90%;
  }
  &-text {
    width: 80%;
    line-height: 45px;
  }
  &-icon {
    transition: 0.2s ease-out;
    svg {
      font-size: 6.5rem;
      transition: 0.2s ease-out;
      padding: 5px;
      &:hover {
        color: $primary-color-light;
        transform: scale(1.1);
        transition: 0.3s ease;
      }
    }
    &:hover {
      transform: scale(1.1);
      transition: 0.3s ease;
    }
  }
}

@media only screen and (max-width: 990px) {
  .skills {
    &-text {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .skills {
    &-text {
      width: 90%;
    }
    &-icon {
      svg {
        font-size: 4rem;
      }
    }
    &-list {
      width: 100%;
      padding: 0 3vw;
      justify-content: center;
      gap: 8vh 8vw;
    }
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    &-text {
      width: 95%;
    }
  }
}