.skills {
  &-title {
    margin-bottom: 2vh;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6vh 5vw;
    margin-top: 4vh;
    width: 90%;
  }
  &-text {
    width: 80%;
    line-height: 45px;
  }
  &-icon {
    // font-size: 6.5rem;
    transition: 0.2s ease-out;
    padding: 5px;
    transition: 0.5s all ease;

    &:hover {
      color: var(--primary-color-light);
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 990px) {
  .skills {
    &-text {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .skills {
    &-text {
      width: 90%;
    }
    &-icon {
      font-size: 4rem;
    }
    &-list {
      width: 100%;
      padding: 0 3vw;
      justify-content: center;
      gap: 8vh 8vw;
    }
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    &-text {
      width: 95%;
    }
  }
}
