@import "../../styles/scss-variables";

.intro {
  &-title {
    font-size: $fs-title; 
    // background: rgb(255,209,44);
    background: -moz-linear-gradient(90deg, rgba(255,209,44,1) 0%, rgba(255,91,91,1) 35%, rgba(232,62,136,1) 70%, rgba(247,53,228,1) 97%);
    background: -webkit-linear-gradient(90deg, rgba(255,209,44,1) 0%, rgba(255,91,91,1) 35%, rgba(232,62,136,1) 70%, rgba(247,53,228,1) 97%);
    background: linear-gradient(90deg, rgba(255,209,44,1) 0%, rgba(255,91,91,1) 35%, rgba(232,62,136,1) 70%, rgba(247,53,228,1) 97%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
  }
  &-subtitle {
    font-size: $fs-title2;
  }
  &-text {
    font-size: $fs-title3;
    line-height: 30px;
  }
  &-job {
    color: $primary-color;
  }
  &-country{
    background: rgb(255,194,101);
    background: -moz-linear-gradient(180deg, rgba(255,194,101,1) 0%, rgba(255,255,255,1) 50%, rgba(124,255,153,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,194,101,1) 0%, rgba(255,255,255,1) 50%, rgba(124,255,153,1) 100%);
    background: linear-gradient(180deg, rgba(255,194,101,1) 0%, rgba(255,255,255,1) 50%, rgba(124,255,153,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}